<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="h2017_with_delto_gripper">

    <xacro:include filename="$(find dsr_description2)/urdf/h2017.urdf" />

    <xacro:include filename="$(find delto_description)/urdf/delto_gripper_3f.urdf" />
    
  <joint name="ee_joint" type="fixed">
    <origin rpy="0 0 3.14159" xyz="0 0 0.115"/>
    <parent link="link_6"/>
    <child link="delto_base_link"/>
    <!-- <axis xyz="0.0 1.0 0.0"/> -->
 </joint>
    
    <!-- 필요시 추가: 그리퍼 컨트롤러나 transmission 추가 (delto_3f_driver에서 참조) -->

</robot>
